* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: white;
}

body {
  background-color: black;
  color: white;
  font-family: 'Helvetica', sans-serif;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3% 5%;
  z-index: 10;
}

.navbar-brand {
  width: 100px;
  height: 100%;
}

.brand-logo {
  width: 100%;
  height: 100%;
}

.signin-button {
  background-color: #dc030f;
  border: 1px solid #dc030f;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  text-decoration: none;
}

.hero-bg-image-container {
  width: 100%;
  height: 80vh;
}

.hero-bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-bg-overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 80vh;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.hero-card {
  position: absolute;
  text-align: center;
  top: 30%;
  left: 30%;
  gap: 10px;
  transform: translate(-20%, -20%);
}

.hero-title {
  font-weight: 600;
  font-size: 2rem;
}


.hero-description {
  font-weight: 400;
  font-size: 1rem;
}

.hero-description {
  margin: 0 0px;
}

.hero-subtitle{
  margin-bottom:30px;
  font-weight: 500;
  font-size: 20px;
}

.email-input {
  border: none;
  background: transparent;
  width: 100%;
  height: 100%;
  padding-left: 7px;
}
.email-label {
  color: black;
  position: absolute;
  top: 28%;
  left: 2%;
  color: rgb(153, 149, 149);
  transition: 0.5s;
}

.email-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.form-container {
  background-color: white;
  width: 90%;
  height: 50px;
  position: relative;
}

.email-input:focus + .email-label {
  top: 0.2rem;
  font-size: 10px;
}

.email-input:not(:placeholder-shown).email-input:not(:focus) + .email-label {
  top: 0.2rem;
  font-size: 10px;
}

.email-input:focus-visible {
  outline: none;
}

.primary-button {
  background-color: #dc030f;
  border: 1px solid #dc030f;
  color: white;
  padding: 0.8rem 1.2rem;
  border-radius: 2px;
  font-size: 15px;
  letter-spacing: 1px;
}

.feature {
  border-top: 8px solid #222;
  padding: 2rem 1rem;
}

.feature-details {
  text-align: center;
}

.feature-title {
  font-size: 25px;
  font-weight: 600;
  margin: 10px 0;
}

.feature-sub-title {
  font-size: 15px;
  font-weight: 400;
}

.feature-image-container {
  width: 100%;
  position: relative;
}
.feature-image {
  width: 100%;
}

.feature-backgroud-video-container {
  position: absolute;
  width: 100%;
  top: 20%;
  left: 13%;
  height: 100%;
  max-width: 73%;
  max-height: 54%;
  z-index: -2;
}

.feature-backgroud-video {
  width: 100%;
}

.feature-2-poster-container {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 16em;
  display: flex;
  align-items: center;
  background-color: black;
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  height: 60px;
  padding: 0.25rem 0.6rem;
  gap: 15px;
}

.poster-container {
  width: 20%;
}

.poster {
  width: 100%;
  height: 100%;
}
.poster-details {
  width: 60%;
}
.poster-details > h4 {
  font-size: 13px;
  font-weight: 500;
}
.poster-details > h6 {
  font-size: 12px;
  font-weight: 400;
  color: rgb(63, 63, 246);
}

.download-gif-container {
  width: 20%;
  height: 100%;
}
.gif {
  width: 100%;
  height: 100%;
}

.feature-3-backgroud-video-container {
  max-width: 63%;
  max-height: 47%;
  z-index: -2;
  top: 9%;
  left: 19%;
}

.FAQ-accordian {
  width: 100%;
}
.FAQ-title {
  width: 100%;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  background-color: #303030;
  border: 1px solid #303030;
  color: white;
  cursor: pointer;
}

.FAQ-visible {
  background-color: #303030;
  border-top: 1px solid black;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  font-size: 20px;
}

.FAQ-visible > p {
  margin: 1rem;
}
.FAQ-list-container {
  border-top: 8px solid #222;
  padding: 2rem 0;
}
.FAQ-heading {
  font-size: 40px;
  text-align: center;
  font-weight: 600;;
  margin: 1rem 3rem;
}

.FAQ-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.FAQ-started-email {
  text-align: center;
}

.FAQ-started-email > h3 {
  font-size: 18px;
  font-weight: 400;
  margin: 2rem 0;
}

.footer{
  border-top: 8px solid #333;
  padding:60px;
  justify-content: flex-start;
  text-align: left;
  align-items: flex-start;
}
.footer, .footer a{
  color: #888;
  letter-spacing: 0.03em;
}
.footer p{
  margin-bottom: 2rem;
}
.footer-cols{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 4rem;
}
.footer li{
  line-height: 1.9;
  list-style: none;
  margin-bottom: 8px;
  font-size: 12px;
}
.last{
  margin-top: 40px;
}
.last a{
  padding: 15px 10px;
  border: 1px solid #888;
}
.last p{
  margin-top: 30px;
  font-size: 14px;
}
.btn-icon{
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media (min-width: 768px) { 
  .hero-bg-image-container {
    height: 100vh;
  }

  .hero-bg-overlay {
    height: 100vh;
  }
  .hero-card {
    top: 40%;
    left: 30%;
    transform: translate(-20%, -20%);
  }
  .hero-title {
    font-size: 3rem;
  }
  .hero-subtitle,
  .hero-description {
    font-size: 1.3rem;
  }

  .feature {
    padding: 4rem;
  }

  .feature-title {
    font-size: 35px;
  }

  .feature-sub-title {
    font-size: 20px;
  }
  .feature-2-poster-container {
    max-width: 26em;
    height: 85px;
  }
  .poster-container {
    width: 15%;
  }
  .download-gif-container {
    width: 3rem;
    height: 3rem;
  }

  .poster-details > h4 {
    font-size: 18px;
  }
  .poster-details > h6 {
    font-size: 14px;
  }
  .FAQ-title {
    font-size: 28px;
  }
  .FAQ-heading {
    font-size: 47px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .FAQ-visible {
    font-size: 24px;
  }

  .FAQ-list {
    padding: 1rem 5rem;
  }
  .FAQ-started-email {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(15%);
  }
}

@media (min-width: 1024px) {
  .navbar {
    padding: 2% 5%;
  }

  .navbar-brand {
    width: 150px;
  }

  .signin-button {
    padding: 10px 20px;
    font-size: 18px;
  }

  .hero-card {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .form-container {
    width: 50%;
  }
  .email-form-container {
    flex-direction: row;
    align-items: center;
    gap: 1px;
  }
  .primary-button {
    height: 50px;
  }

  .feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  .feature-details {
    text-align: left;
    padding: 0 6rem;
  }

  .feature-title {
    font-size: 50px;
  }

  .feature-sub-title {
    font-size: 25px;
  }

  .feature-image-container {
    max-width: 500px;
  }

  .feature:nth-child(even) {
    flex-direction: row-reverse;
  }

  .feature-2-poster-container {
    max-width: 20em;
    height: 100px;
    padding: 1rem;
  }
  .poster-container {
    width: 20%;
  }
  
  .FAQ-accordian {
  width: 1000px;
  }
  
  .FAQ-list {
    padding: 1rem 25rem;
  }
  .FAQ-started-email {
    transform: translateX(16%);
  }
  .footer{
    margin-left:50px;
    justify-content: flex-start;
    text-align: left;
    align-items: flex-start;
  }

}

@media (max-width: 470px){
  .hero-title{
    font-size:25px;
  }
  .hero-subtitle{
    font-size:15px;
  }
  .hero-description{
    font-size:15px;
  }
  .form-container {
    background-color: white;
    width: 90%;
    height: 40px;
    position: relative;
  }
  .primary-button {
    padding: 0.5rem 0.9rem;
    font-size: 10px;
  }
}